<h1>Welcome To Smashitt</h1>
<p> You must sign up or login to enter this secret corner of the internets </p>

<%= button_to "Sign Up", (new_user_registration_path),
method: :get  %>
<%= button_to "login", (new_user_session_path),
method: :get %>

<%= button_to "logout", (destroy_user_session_path), 
method: :delete %>

<%= link_to "Go to Posts", (posts_show_path) %> 