<h2><%= @post.title %></h2>

<div class="post-body">
  <%= simple_format(@post.content) %>
  <!--the above format is dependant upon the updating of the url method-->
</div>

<%= link_to "Posts Index", posts_path %>


